
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

:root {
    --color-text: rgb(200, 200, 200)
    --color-primary: #b0b6ec;
    --color-primary-dark: #555980;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgb(200, 200, 200);
}

.app {
    height: 100%;
    background-image: linear-gradient(-20deg, #132a38 0%, #252038 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.device-selector {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;

    input[type=number] {
        color: var(--color-primary);
        border: 1px solid var(--color-primary-dark);
        background: transparent;
        font-size: 2rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        font-weight: 900;
        text-indent: .25rem;
        padding: .5rem;
    }

    button {
        background: var(--color-primary);
        border-radius: 2rem;
        border: 0;
        padding: .5rem .5rem;
        font-size: 1.2rem;
    }
}

.device {
    padding: 1.5rem;

    header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .device-name {
            flex: 1 1 75%;
            margin: 0;
            font-size: 1rem;
        }

        .battery {
            display: flex;
            align-items: center;
            font-size: .6rem;

            svg {
                margin-right: 5px;
                width: .75rem;
                height: .75rem;
                fill: var(--color-primary-dark);
            }
        }
    }

    .sensors {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        column-gap: .5rem;
        row-gap: .5rem;
    }

    .sensor-item {
        background: rgba(255, 255, 255, 0.05);
        padding: 1rem;
        border-radius: .5rem;
        overflow: hidden;
        transition: all 500ms ease-out;
        cursor: pointer;

        &.is-opened {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: default;
            background: linear-gradient(-20deg, #062335 0%, #272041 100%);
        }
    }

    footer {
        padding: .5rem 0;
        font-size: .8rem;
        color: rgb(120, 120, 120);
        display: flex;
        justify-content: space-between;

        .change-btn {
            color: var(--color-primary-dark);
            background: transparent;
            border: 1px solid var(--color-primary-dark);
            border-radius: 10px;
            font-size: .7rem;
            padding: 2px 5px;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-height: 569px) {
    html {
      font-size: calc(16px + 6 * ((100vh - 569px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }

    .device { 
        .sensors {
            grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
        }
    }
}