
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color:rgb(200, 200, 200);
}

.app {
    height: 100%;
    background-image: linear-gradient(-20deg, #132a38 0%, #252038 100%);
}

.device-selector {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;

    input[type=number] {
        color: #b0b6ec;
        border: 1px solid #555980;
        background: transparent;
        font-size: 2rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        font-weight: 900;
        text-indent: .25rem;
        padding: .5rem;
    }

    button {
        background: #b0b6ec;
        border-radius: 1rem;
        border: 0;
        padding: .5rem .5rem;
        font-size: 1.2rem;
    }
}

.device {
    padding: 1.5rem;

    .device-name {
        margin-top: 0;
        font-size: 1rem;
    }

    .sensors {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        column-gap: .5rem;
        row-gap: .5rem;
    }

    .sensor-item {
        background: rgba(255, 255, 255, 0.05);
        padding: 1rem;
        border-radius: .5rem;

        .sensor {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .name {
            flex: 1 0 auto;
            font-size: .8rem;
            font-family: 'Lato', sans-serif;
            margin-bottom: .5rem;
            color: #b0b6ec;
        }

        .metric {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .value, .unit {
            font-family: 'Lato', sans-serif;
        }
        
        .value {
            font-size: 1.3rem;
            font-weight: 900;
        }

        .unit {
            color: rgb(180, 180, 180)
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}