
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;600&family=Lora&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    color:rgb(200, 200, 200);
}

.app {
    min-height: 100%;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.device {
    padding: 1.5rem;

    h3 {
        margin-top: 0;
    }

    .sensors {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        column-gap: .5rem;
        row-gap: .5rem;
    }

    .sensor-item {
        background: rgba(255, 255, 255, 0.1);
        padding: 1rem;
        border-radius: .5rem;

        .sensor {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .name {
            flex: 1 0 auto;
            font-family: 'Lato', sans-serif;
            margin-bottom: .5rem;
        }

        .metric {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .value, .unit {
            font-family: 'Lato', sans-serif;
        }
        
        .value {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .unit {
            color: rgb(180, 180, 180)
        }
    }
}